<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
>
<head>
  <meta charset="UTF-8">
  <title>Create new post</title>
</head>
<body>
<!-- page content -->
<th:block layout:fragment="content">
  <div class="h3">Create New Post</div>
  <form class="needs-validation" novalidate="">
    <div class="row g-3">
      <div class="col-12">
        <label for="firstName" class="form-label">Title</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>

      <div class="col-12 ">
        <label for="floatingTextarea" class="form-label">Content</label>
        <textarea class="form-control" placeholder="Your content here"
                  id="floatingTextarea" rows="20" style="min-height: 500px;"></textarea>
      </div>

    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
  </form>
  <script>
      ClassicEditor
            .create( document.querySelector( '#floatingTextarea' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );



  </script>
</th:block>
</body>
</html>