<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
>
<head>
  <title>Home</title>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <!-- page content -->
    <th:block layout:fragment="content">
      <div class="h3">All Post</div>
      <a href="" class="btn btn-primary" th:href="@{/admin/create-new-post}">Create Post</a>
      <table class="table" th:unless="${allPostDataOut eq null}">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${allPostDataOut.postDtoList eq null or #lists.isEmpty(allPostDataOut.postDtoList)}"
            th:each="post, iteration: ${allPostDataOut.postDtoList}">
          <th scope="row" th:text="${iteration.count}"></th>
          <td th:text="${post.title}">Mark</td>
          <td th:utext="${post.content}">Otto</td>
        </tr>
        </tbody>
      </table>
      <!-- /page content -->
    </th:block>
  </div>
</div>


</body>
</html>