<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
>
<head>
  <title>Home</title>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <!-- page content -->
    <th:block layout:fragment="content">
      <div class="h3">All Post</div>
      <a href="" class="btn btn-primary" th:href="@{/admin/create-new-post}">Create Post</a>
      <th:block th:unless="${allPostDataOut eq null}">
        <div class="fs-6 fw-semibold">Total [[${allPostDataOut?.totalElement}]] posts</div>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created Date</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr th:unless="${allPostDataOut.postDtoList eq null or #lists.isEmpty(allPostDataOut.postDtoList)}"
              th:each="post, iteration: ${allPostDataOut.postDtoList}">
            <th scope="row" th:text="${iteration.count}"></th>
            <td th:text="${post.title}">Mark</td>
            <td th:utext="${post.content}">Otto</td>
            <td th:utext="${#temporals.format(post.createdDate,'dd MMMM yyyy hh:mm:ss')}">Otto</td>
            <td>
              <a class="btn btn-info" th:href="@{/admin/post-details/{id}(id=${post.id})}">Show</a>
              <a class="btn btn-warning">Update</a>
              <a class="btn btn-danger">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item" th:classappend="${!allPostDataOut.hasPrevious? 'disabled':''}">
              <a class="page-link" href="#" th:href="@{/admin/all-post(page=${allPostDataOut.currentPage-2},size='5')}"
                 th:if="${allPostDataOut.hasPrevious}">Previous</a>
              <span class="page-link" th:unless="${allPostDataOut.hasPrevious}">Previous</span>
            </li>
            <th:block th:each="page : ${#numbers.sequence(1, allPostDataOut.totalPage, 1)}">
              <li class="page-item"
                  th:classappend="${ page == allPostDataOut.currentPage? 'active':''}">
                <a class="page-link" href="#" th:text="${page}"
                   th:href="@{/admin/all-post(page=${page-1},size='5')}">1</a></li>
            </th:block>
            <li class="page-item" th:classappend="${!allPostDataOut.hasNext? 'disabled':''}">
              <a class="page-link" href="#" th:if="${allPostDataOut.hasNext}"
                 th:href="@{/admin/all-post(page=${allPostDataOut.currentPage},size='5')}">Next</a>
              <span class="page-link" th:unless="${allPostDataOut.hasNext}">Next</span>
            </li>
          </ul>
        </nav>
      </th:block>
      <!-- /page content -->
    </th:block>
  </div>
</div>


</body>
</html>